<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">

  		<!--  事务管理器 -->
  		<bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
  			<property name="sessionFactory" ref="sessionFactory"></property>
  		</bean>
       
       <!-- 开启注解  -->
       <tx:annotation-driven transaction-manager="txManager" /> 
       
			     
		
	   <!-- 注册 -->
       <!-- Dao配置 -->
		<bean id="userDao" class="com.ssh.dao.impl.UserDaoImpl">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
			<!-- Service配置 -->
		<bean id="userService" class="com.ssh.service.impl.UserServiceImpl">
			<property name="userDao" ref="userDao"></property>
		</bean>
		<!-- action配置 -->
		<bean id="reg" class="com.ssh.action.RegAction" scope="prototype">
			<property name="userService" ref="userService"></property>
		</bean>
		
		
		
		<!-- 登陆 -->	
		<!-- dao注入sessionFactory -->
		<!-- 注入持久化操作所需的SessionFactory -->	
		<bean id="logind" class="com.ssh.dao.impl.LoginDaoImpl">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
        <!-- Service注入dao，id为 下面 的ref class为service实现类 -->  
        <bean id="loginService" class="com.ssh.service.impl.LoginServiceImpl">
        		<property name="logindao" ref="logind"></property>
        </bean> 
        	<!-- Action配置 -->
        	<!-- Action注入sevice id=“” 注入class=“action路径” name=“loginservice"与LoginAction中声明的要保持一致
        	ref随便取  -->
		<bean id="loginServer" class="com.ssh.action.LoginAction">
			<property name="loginService" ref="loginService"></property>
		</bean>
			
	<!-- 引入hibernate配置文件 -->
	<import resource="hibernate.cfg.xml" />

	<!-- 事务管理器 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 开启注解 -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- 引入用户模块配置文件 -->
	<import resource="classpath:user.xml"/>
	<import resource="classpath:manager.xml"/>
	<import resource="classpath:merchant.xml"/>
	<import resource="classpath:ap.xml" />

</beans> 
