<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <!-- 指定连接数据库的驱动 -->
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <!-- 指定连接数据库的URL -->
        <property name="url" value="jdbc:mysql:///recommendation" />
        <!-- 指定连接数据库的用户名 -->
        <property name="username" value="root" />
        <!-- 指定连接数据库的密码 -->
        <property name="password" value="root" />
    </bean>
	
    <!-- 配置SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource">
          	<ref bean="dataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.connection.autocommit">true </prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="sql_format">true</prop>
            </props>
        </property>
         
        <property name="mappingResources">
        
            <!-- 指定hibernate映射文件 -->
            <list>
                <value>com/ssh/entity/AP.hbm.xml</value>
                <value>com/ssh/entity/chart.hbm.xml</value>
                <value>com/ssh/entity/coupons.hbm.xml</value>
                <value>com/ssh/entity/manager.hbm.xml</value>
                <value>com/ssh/entity/map.hbm.xml</value>
                <value>com/ssh/entity/mer_tag.hbm.xml</value>
                <value>com/ssh/entity/merchant.hbm.xml</value>
                <value>com/ssh/entity/realUser.hbm.xml</value>
                <value>com/ssh/entity/tag.hbm.xml</value>
                <value>com/ssh/entity/userConn.hbm.xml</value>
            </list>
        
        </property>
    </bean>
 </beans>
    